@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  background-color: #e5c30a;
}

img {
  width: 130px;
  margin-top: 1em;
}

.img-flex {
  display: block;
  width: 100%;
}

.section-letter {
  margin-left: 1em;
}

.wrapper {
  padding: .25em;
  margin: 0;
  max-width: 45em;
}

.section-body {
  margin-left: 1em;
}

section h2 {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

section p {
  margin-top: 0;
  margin-right: 1em;
}

@media only screen and (min-width: 25em) {

  img {
    width: 140px;
  }

  .section-letter {
    margin-left: 2em;
    margin-right: 1.5em;
  }
}
